<div class="container">
  <h5 class="text-center">
    Chat id: </b> <%= @chat_id %>
  </h5>
  <%= link_to '< Back', root_path, class: 'btn btn-inverse' %>

  <div class="card">
    <div class="card-body chat">
      <% @messages.each do |message| %>
        <h4>
          <% if message.from_chatbot %>
            <span class="message badge bg-primary pull-right">
              <%= message.text %>
            </span>
            <br>
          <% else %>
            <span class="message badge bg-secondary">
              <%= message.text %>
            </span>
          <% end %>
        </h4>
      <% end %>

      <%= form_tag messages_path, method: :post do |f| %>
        <%= hidden_field_tag :chat_id, @chat_id %>
        <div class="form-group">
          <%= text_field_tag :text, nil, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= link_to 'Fetch Messages', chat_path(@chat_id), class: 'btn btn-info' %>
          <%= submit_tag 'Send Reply', class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

